# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Facultate\patric\Facultate\Semestrul 5\Limbaje de formare si tehnici de compilare\Git\FLCD\lab3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
